<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> 

   
    <title>Contact us-Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.</title> 
{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/site.webmanifest' %}">
<link rel="canonical" href="">
<meta property="og:site_name" content="Soi Merchandising">
<meta property="og:title" content=" Services Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.">
<meta property="og:url" content ="/">
<meta property="og:type" content="website">
<meta property="og:description" content="Contact Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:image:width" content="498">
<meta property="og:image:height" content="132">
<meta itemprop="name" content="Soimer Merchandising">
<meta itemprop="url" content ="/">
<meta itemprop="description" content=" Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta itemprop="image_src" content="{% static 'logo.png' %}">
<meta itemprop="twitter:title" content="Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.">
<meta itemprop="twitter:card" content="summary">
<meta itemprop="twitter:url" content="/">
<meta itemprop="twitter:image"  content="{% static 'logo.png' %}">
<meta itemprop="twitter:description" content=" Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta name="keywords" content="Soi Merchandising,Contact Soi Merchandising,Soimer Merchandizing,Free Merchandising,Least Proft Merchandising,Girl Merchandising,Best Merchandising, Merchandising, Knitwear, Printing, Dyeing, Finishing, Stitching, Embroidery, Garments, Lahore, Pakistan, Export to Europe, Export to USA, Export to America, Import from Pakistan">
<meta name="description" content=" Aperal Production Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">

    {% load static%}
    <link rel="stylesheet" href="{% static 'css/contact.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  </head>
  <body>



    <!--contact section start-->
    <div class="contact-section">
      <div class="contact-info">
        <div><i class="fas fa-map-marker-alt"></i>lahore, pakistan</div>
        
        <div><i class="fas fa-phone"></i><a  target="_blank" href="https://wa.me/923075746520?text= Assalam-u-alikum Sahna want to talk about your company (*YOUR MESSAGE HERE*)!">+92 307 5746520 </a></div>
        <div><i class="fas fa-clock"></i> 7:00am - 10:00pm </div>
      </div>
      <div class="contact-form">
        <h2>Contact Us</h2>
        
    <!--contact section end-->
    {% csrf_token %}
    <form action="https://formsubmit.co/soimerchandising@gmail.com" method="POST">
        <input type="email" name="email" placeholder="Enter your email" class="text-box"  >
        <input type="phone" name="phonenumber" placeholder="Phonenumber" class="text-box"  >
        <input type="text" name="first name" placeholder="Enter your firstname" class="text-box"  >
        <input type="text" name="last name" placeholder="Last name" class="text-box"  >
        
        <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="/messageconfirmation/">


        <input type="hidden" name="_autoresponse" value="Thank you for your message . It means a lot to us . We will try to reply as soon as possible.">


        <input type="submit" name="submit" class="send-btn" value="Send">
    </form>
</div>
<div class="share">
    <a href="https://www.facebook.com/profile.php?id=100090870287730&mibextid=ZbWKwL" class="fab fa-facebook-f"></a>
    <a href="https://twitter.com/SoiMerchandisi1?t=httprpKkrMt-gRdRduQdtQ&s=08" class="fab fa-twitter"></a>
   
    <a href="https://www.linkedin.com/in/soi-merchandising-332866269" class="fab fa-linkedin"></a>
</div>
</div>
  </body>
</html>
      
