
<!DOCTYPE html>
<html>
<head>
	<title>Products-Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.</title> 
{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/site.webmanifest' %}">
<link rel="canonical" href="">
<meta property="og:site_name" content="Soi Merchandising">
<meta property="og:title" content=" Services Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.">
<meta property="og:url" content ="/">
<meta property="og:type" content="website">
<meta property="og:description" content="Contact Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:image:width" content="498">
<meta property="og:image:height" content="132">
<meta itemprop="name" content="Soimer Merchandising">
<meta itemprop="url" content ="/">
<meta itemprop="description" content=" Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta itemprop="image_src" content="{% static 'logo.png' %}">
<meta itemprop="twitter:title" content="Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.">
<meta itemprop="twitter:card" content="summary">
<meta itemprop="twitter:url" content="/">
<meta itemprop="twitter:image"  content="{% static 'logo.png' %}">
<meta itemprop="twitter:description" content=" Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta name="keywords" content="Soi Merchandising,Contact Soi Merchandising,Soimer Merchandizing,Free Merchandising,Least Proft Merchandising,Girl Merchandising,Best Merchandising, Merchandising, Knitwear, Printing, Dyeing, Finishing, Stitching, Embroidery, Garments, Lahore, Pakistan, Export to Europe, Export to USA, Export to America, Import from Pakistan">
<meta name="description" content=" Aperal Production Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> 

	{% load static %}
    <link rel="stylesheet" type= "text/css"href="{% static 'css/products.css'%}">




</head>
<body>
   

<div class="container">

    <div class="heading">
      <h3>{{ category }}</h3>
    </div>

    <div class="image-container">
      {% for product in products %}
      {% if product.products_img1 %}
    
        <img src="{{ product.products_img1.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img2 %}
        <img src="{{ product.products_img2.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img10 %}
        <img src="{{ product.products_img10.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img11 %}
        <img src="{{ product.products_img11.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img12 %}
        <img src="{{ product.products_img12.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img13 %}
        <img src="{{ product.products_img13.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img14 %}
        <img src="{{ product.products_img14.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img15 %}
        <img src="{{ product.products_img15.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img16 %}
        <img src="{{ product.products_img16.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img17 %}
        <img src="{{ product.products_img17.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img18 %}
        <img src="{{ product.products_img18.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}
        {% if product.products_img19 %}
        <img src="{{ product.products_img19.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}






        {% for product in products %}

        {% if product.products_img20 %}
        <img src="{{ product.products_img20.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}

        {% for product in products %}

        {% if product.products_img21 %}
        <img src="{{ product.products_img21.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img22 %}
        <img src="{{ product.products_img22.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img23 %}
        <img src="{{ product.products_img23.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img24 %}
        <img src="{{ product.products_img24.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img25 %}
        <img src="{{ product.products_img25.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img26 %}
        <img src="{{ product.products_img26.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img27 %}
        <img src="{{ product.products_img27.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img28 %}
        <img src="{{ product.products_img28.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img29 %}
        <img src="{{ product.products_img29url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img30%}
        <img src="{{ product.products_img30.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img3 %}
        <img src="{{ product.products_img3.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img4 %}
        <img src="{{ product.products_img4.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img5 %}
        <img src="{{ product.products_img5.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img6 %}
        <img src="{{ product.products_img6.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img7 %}
        <img src="{{ product.products_img7.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img8 %}
        <img src="{{ product.products_img8.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        {% for product in products %}

        {% if product.products_img9 %}
        <img src="{{ product.products_img9.url }} " alt="{{ product.products_name }}">
        {% endif %}
        {% endfor %}
        
        
    </div>
    <div class="btn">
      <a href="/">Back to homepage</a>
    </div>

</div>

  {% comment %} <div class="container">
    
    <div class="box">
       
      <div class="dream">
        
    

		<img class="image" width = "50%"src="{{ product.products_img1.url }} " alt="{{ product.products_name }}">
 
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

	<img class="image" width = "50%"src="{{ product.products_img12.url }}" alt="{{ product.products_name }}">
  
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

	<img class="image" width = "50%"src="{{ product.products_img11}}" alt="{{ product.products_name }}">
  
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

        <img class="image" width = "50%"src="{{ product.products_img2.url }}" alt="{{ product.products_name }}">
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

	<img class="image" width = "50%"src="{{ product.products_img10.url }}" alt="{{ product.products_name }}">
  
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

		
    
  <img class="image" width = "50%"src="{{ product.products_img13.url }}" alt="{{ product.products_name }}">
  
            
      </div>
      {% endfor %}


      {% for product in products %}
      <div class="dream">
        
    

		
  <img class="image" width = "50%"src="{{ product.products_img14.url }}" alt="{{ product.products_name }}">
 
            
      </div>
      {% endfor %}

      {% for product in products %}
      <div class="dream">
        
    

		
    
  <img class="image" width = "50%"src="{{ product.products_img15.url }}" alt="{{ product.products_name }}">
   
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

		
   <img class="image" width = "50%"src="{{ product.products_img16.url }}" alt="{{ product.products_name }}">
   
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

		
    
  <img class="image" width = "50%"src="{{ product.products_img17.url }}" alt="{{ product.products_name }}">
    
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

		
    
  <img class="image" width = "50%"src="{{ product.products_img18.url }}" alt="{{ product.products_name }}">
   
  	
            
      </div>
      {% endfor %}
      {% for product in products %}
      <div class="dream">
        
    

		
    
  <img class="image" width = "50%"src="{{ product.products_img19.url }}" alt="{{ product.products_name }}">
  	
            
      </div>
      {% endfor %}
    </div>
    <div class="btn">
      <a href="/">Back to homepage</a>
    </div>





  </div> {% endcomment %}

</body>
</html>