
<!DOCTYPE html>
<html>
<head>
	<title>WHY WE</title>
	<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title> Contact-Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.</title> 
{% load static %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/site.webmanifest' %}">
<link rel="canonical" href="">
<meta property="og:site_name" content="Soi Merchandising">
<meta property="og:title" content=" Contact Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.">
<meta property="og:url" content ="/">
<meta property="og:type" content="website">
<meta property="og:description" content="Contact Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta property="og:image" content="{% static 'logo.png' %}">
<meta property="og:image:width" content="498">
<meta property="og:image:height" content="132">
<meta itemprop="name" content="Soimer Merchandising">
<meta itemprop="url" content ="/">
<meta itemprop="description" content=" Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta itemprop="image_src" content="{% static 'logo.png' %}">
<meta itemprop="twitter:title" content="Soi Merchandising Pakistan | Merchandising, Knitwear, Printing, Dyei.">
<meta itemprop="twitter:card" content="summary">
<meta itemprop="twitter:url" content="/">
<meta itemprop="twitter:image"  content="{% static 'logo.png' %}">
<meta itemprop="twitter:description" content=" Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<meta name="keywords" content="Soi Merchandising,Contact Soi Merchandising,Soimer Merchandizing,Free Merchandising,Least Proft Merchandising,Girl Merchandising,Best Merchandising, Merchandising, Knitwear, Printing, Dyeing, Finishing, Stitching, Embroidery, Garments, Lahore, Pakistan, Export to Europe, Export to USA, Export to America, Import from Pakistan">
<meta name="description" content=" Contact Soi Merchandising Pakistan is connected with multiple factories and also owns a fully functional office with merchandisers, fashion designers and quality controllers (QC)">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> 
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"> 
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
{% load static %}
<link rel="stylesheet" type= "text/css"href="{% static 'css/others.css'%}">
<style>
    body {
        font-size: 22px;
    }
  
    </style>

</head>
<body>
    <div>
        <a class='btn btn-warning' href="{% url 'home'%}"> &#8592; Back to Home</a>
    </div>
    {% for why in whywe_content %}
    <div class="heading">

        <h1 style="font-family: 'Sofia';">{{why.whywe_halfheading}}<span>{{why.whywe_secondhalfheading}}</span></h1>
      </div>
    <div class="row">
        <div class="col-12 text-center">
            <img width="300px"src="{{why.whywe_images.url}}" class="img-fluid" alt="whyweimage">
          </div>
           
        <div class="right">
            <div class ="content">
                <p>{{why.whywe_paragraph|linebreaks}}</p>
                
            </div>
        </div>
    </div>
      
{% endfor %}
    <div>
        <a class='btn btn-warning' href="{% url 'home'%}"> &#8592; Back to Home</a>
    </div>

</body>
</html>